<div id="hero">
    <div class="container">
        <div class="row">
            <div class="six columns">
                <div class="contenido-hero">
                    <h2>Busca tus productos favoritos</h2>
                    <form action="#" id="busqueda" method="post" class="formulario">
                        <input class="u-full-width" type="text" placeholder="¿Que te gustaría Aprender?"
                            id="buscador" />
                        <input type="submit" id="submit-buscador" class="submit-buscador" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="lista-cursos" class="container">
    <h1 id="encabezado" class="encabezado">Productos</h1>
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso1.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 1</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso2.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 2</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar Al
                        Carrito</a>
                </div>
            </div>
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso3.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 3</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso4.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 4</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="4">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso5.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 5</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="5">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso1.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 6</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="6">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso2.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 7</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="7">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso3.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 8</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="8">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso4.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 9</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="9">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso5.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 10</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="10">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns centrado">
            <div class="card">
                <img src="../../../assets/img/curso1.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 11</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="11">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
        <div class="four columns">
            <div class="card">
                <img src="../../../assets/img/curso1.jpg" class="imagen-curso u-full-width" />
                <div class="info-card">
                    <h4>Producto 12</h4>
                    <p>descripción</p>
                    <p class="precio">$200 <span class="u-pull-right">$15</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="12">Agregar Al
                        Carrito</a>
                </div>
            </div>
            <!--.card-->
        </div>
    </div>
    <!--.row-->
</div>